@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
    background: #222;
}

.card{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 470px;
    max-height: 700px;
    background: #A68A64;
    padding: 40px;
    margin: 100px auto 50px;
    border-radius: 20px;
    text-align: center;
    overflow-y: auto;
    overflow-x: auto;
}

.container h1{
    color: #333D29;
    font-weight: 900;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C2C5AA;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    width:300px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    text-align: left;
    border-bottom: 1px solid gray;
    color: #fff;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #3d3b3b;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    /* top: 5px; */
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: red;
    border-radius: 50%;
    text-align: center;
}

ul li span:hover{
    background: rgb(218, 218, 218);
    width: 35px;
    height: 35px;
}

footer {
    padding: 10px;
    color: #888;
    font-size: 12px;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}

/* Media Queries */

/* Small screens (e.g., smartphones) */
@media (max-width: 576px) {
    .container {
        padding: 20px;
        margin: 50px auto 30px;
        /* max-width: 100%; */
        border-radius: 10px;
    }
}

/* Medium screens (e.g., tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .container {
        padding: 30px;
        margin: 80px auto 50px;
        border-radius: 15px;
    }
}

@media (max-width: 379px) {
    button{
        padding: 16px 25px;
    }

    input{
        width: 150px;
    }
  }
  
  @media (max-width: 275px) {
    button{
        padding: 16px 25px;
    }

    input{
        width: 150px;
    }
    .container{
        min-width: 275px;;
    }
  }
  
  